<?xml version="1.0"?>
<!--
Copyright 2010-2012, Scott Holodak, Alex Friedman

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<configuration>
    <configSections>
        <sectionGroup name="sholo.web">
            <!--
            <section name="securityProfiler" type="Sholo.Web.Security.Configuration.SecurityProfilerConfiguration, Sholo.Web.Security" />
            <section name="statefulFormsAuthentication" type="Sholo.Web.Security.Configuration.UserAuthenticationConfiguration, Sholo.Web.Security, Version=0.5.0.0, Culture=neutral" />
            -->
            <section name="userAuthentication" type="Sholo.Web.Security.Configuration.UserAuthenticationConfiguration, Sholo.Web.Security"/>
            <section name="deviceAuthentication" type="Sholo.Web.Security.Configuration.DeviceAuthenticationConfiguration, Sholo.Web.Security" />
            <section name="penalties" type="Sholo.Web.Security.Configuration.PenaltiesConfiguration, Sholo.Web.Security"/>
          
        </sectionGroup>
    </configSections>
    <sholo.web>
        <userAuthentication enforceClientHostAddressValidation="true" enforceUserAgentValidation="false" hashSalt="somethingSalty" stateProvider="CacheUserAuthenticationTicketProvider">
            <providers>
                <clear />
                <add name="CacheUserAuthenticationTicketProvider" type="Sholo.Web.Security.Authentication.User.Provider.CacheUserAuthenticationTicketProvider, Sholo.Web.Security" />
            </providers>
        </userAuthentication>
        <deviceAuthentication enforceClientHostAddressValidation="true" enforceUserAgentValidation="false" hashSalt="evenSaltier" stateProvider="CacheDeviceAuthenticationTicketProvider"
                              cookieName="DEVICE_AUTH_COOKIE" deviceAuthenticateUrl="~/LoginDevice.aspx" path="/" requireSSL="false" slidingExpiration="true">
            <providers>
                <clear />
                <add name="CacheDeviceAuthenticationTicketProvider" type="Sholo.Web.Security.Authentication.Device.Provider.CacheDeviceAuthenticationTicketProvider, Sholo.Web.Security" />
            </providers>
        </deviceAuthentication>
        <penalties>
            <rules>
                <clear />
                <add name="Rule 1"
                    points="10"                       pointsSince="10"
                    suspiciousRequestsCount="10"      suspiciousRequestsSince="10"
                    maliciousRequestsCount="10"       maliciousRequestsSince="10"
                    exceptionsCount="10"              exceptionsSince="10"
                    exceptionType="System.Exception"
                    warningsCount="10"                warningsSince="10"
                    kicksCount="10"                   kicksSince="10"
                    bansCount="10"                    bansSince="10"
                    action="Warn"
                    actionTarget="User,IpAddress"
                    actionDuration="10"
                    incrementPoints="10"
                    responseDelay="10"
                    reason="No reason" />
            </rules>
            <providers>
                <add name="foobar" type="Sholo.Web.Security.Penalties.Provider.XmlPenaltyRulesProvider, Sholo.Web.Security"/>
            </providers>
        </penalties>
    </sholo.web>
    <system.web>
        <authentication mode="Forms">
            <forms name="x" cookieless="UseCookies" />
        </authentication>
    </system.web>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>