<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="sholo.web">
            <!--
            <section name="securityProfiler" type="Sholo.Web.Security.Configuration.SecurityProfilerConfiguration, Sholo.Web.Security" />
            <section name="statefulFormsAuthentication" type="Sholo.Web.Security.Configuration.UserAuthenticationConfiguration, Sholo.Web.Security, Version=0.5.0.0, Culture=neutral" />
            <section name="deviceAuthentication" type="Sholo.Web.Security.Configuration.DeviceAuthenticationConfiguration, Sholo.Web.Security" />
            -->
            <section name="userAuthentication" type="Sholo.Web.Security.Configuration.UserAuthenticationConfiguration, Sholo.Web.Security"/>
        </sectionGroup>
    </configSections>
    <sholo.web>
        <userAuthentication enabled="true" enforceClientHostAddressValidation="true" enforceUserAgentValidation="false" hashSalt="somethingSalty" stateProvider="CacheUserAuthenticationTicketProvider">
            <providers>
                <clear/>
                <add name="CacheUserAuthenticationTicketProvider" type="Sholo.Web.Security.Provider.CacheUserAuthenticationTicketProvider, Sholo.Web.Security" providerProperty="Test" />
            </providers>
        </userAuthentication>
    </sholo.web>
    <system.web>
        <authentication mode="Forms">
            <forms name="x" cookieless="UseCookies"/>
        </authentication>
    </system.web>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
